In [ ]:
import numpy as np

import pandas as pd

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

In [ ]:
dates = pd.date_range("20130101", periods=6)

dates

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

In [ ]:
df2.dtypes

In [ ]:
df2.<TAB>  # noqa: E225, E999

In [ ]:
df.head()

df.tail(3)

In [ ]:
df.index

df.columns

In [ ]:
df.to_numpy()

In [ ]:
df2.to_numpy()

In [ ]:
df.describe()

In [ ]:
df.T

In [ ]:
df.sort_index(axis=1, ascending=False)

In [ ]:
df.sort_values(by="B")

In [ ]:
df["A"]

In [ ]:
df[0:3]

df["20130102":"20130104"]

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:, ["A", "B"]]

In [ ]:
df.loc["20130102":"20130104", ["A", "B"]]

In [ ]:
df.loc["20130102", ["A", "B"]]

In [ ]:
df.loc[dates[0], "A"]

In [ ]:
df.at[dates[0], "A"]

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5, 0:2]

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

In [ ]:
df.iloc[1:3, :]

In [ ]:
df.iloc[:, 1:3]

In [ ]:
df.iloc[1, 1]

In [ ]:
df.iat[1, 1]

In [ ]:
df[df["A"] > 0]

In [ ]:
df[df > 0]

In [ ]:
df2 = df.copy()

df2["E"] = ["one", "one", "two", "three", "four", "three"]

df2

df2[df2["E"].isin(["two", "four"])]

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))

s1

df["F"] = s1

In [ ]:
df.at[dates[0], "A"] = 0

In [ ]:
df.iat[0, 1] = 0

In [ ]:
df.loc[:, "D"] = np.array([5] * len(df))

In [ ]:
df

In [ ]:
df2 = df.copy()

df2[df2 > 0] = -df2

df2

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

df1.loc[dates[0] : dates[1], "E"] = 1

df1

In [ ]:
df1.dropna(how="any")

In [ ]:
df1.fillna(value=5)

In [ ]:
pd.isna(df1)

In [ ]:
df.mean()

In [ ]:
df.mean(1)

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

s

df.sub(s, axis="index")

In [ ]:
df.apply(np.cumsum)

df.apply(lambda x: x.max() - x.min())

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))

s

s.value_counts()

In [ ]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

s.str.lower()

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

df

pieces = [df[:3], df[3:7], df[7:]]

pd.concat(pieces)

In [ ]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

left

right

pd.merge(left, right, on="key")

In [ ]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})

left

right

pd.merge(left, right, on="key")

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)


df

In [ ]:
df.groupby("A").sum()

In [ ]:
df.groupby(["A", "B"]).sum()

In [ ]:
tuples = list(
    zip(
        *[
            ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
            ["one", "two", "one", "two", "one", "two", "one", "two"],
        ]
    )
)


index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])

df2 = df[:4]

df2

In [ ]:
stacked = df2.stack()

stacked

In [ ]:
stacked.unstack()

stacked.unstack(1)

stacked.unstack(0)

In [ ]:
df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)


df

In [ ]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

In [ ]:
rng = pd.date_range("1/1/2012", periods=100, freq="S")

ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

ts.resample("5Min").sum()

In [ ]:
rng = pd.date_range("3/6/2012 00:00", periods=5, freq="D")

ts = pd.Series(np.random.randn(len(rng)), rng)

ts

ts_utc = ts.tz_localize("UTC")

ts_utc

In [ ]:
ts_utc.tz_convert("US/Eastern")

In [ ]:
rng = pd.date_range("1/1/2012", periods=5, freq="M")

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

ps = ts.to_period()

ps

ps.to_timestamp()

In [ ]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q-NOV")

ts = pd.Series(np.random.randn(len(prng)), prng)

ts.index = (prng.asfreq("M", "e") + 1).asfreq("H", "s") + 9

ts.head()

In [ ]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)

In [ ]:
df["grade"] = df["raw_grade"].astype("category")

df["grade"]

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

In [ ]:
df["grade"] = df["grade"].cat.set_categories(
    ["very bad", "bad", "medium", "good", "very good"]
)


df["grade"]

In [ ]:
df.sort_values(by="grade")

In [ ]:
df.groupby("grade").size()

In [ ]:
import matplotlib.pyplot as plt

plt.close("all")

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range("1/1/2000", periods=1000))

ts = ts.cumsum()

ts.plot();

In [ ]:
plt.show();

In [ ]:
df = pd.DataFrame(
    np.random.randn(1000, 4), index=ts.index, columns=["A", "B", "C", "D"]
)


df = df.cumsum()

plt.figure();

df.plot();

plt.legend(loc='best');

In [ ]:
df.to_csv("foo.csv")

In [ ]:
pd.read_csv("foo.csv")

In [ ]:
df.to_hdf("foo.h5", "df")

In [ ]:
pd.read_hdf("foo.h5", "df")

In [ ]:
df.to_excel("foo.xlsx", sheet_name="Sheet1")

In [ ]:
pd.read_excel("foo.xlsx", "Sheet1", index_col=None, na_values=["NA"])

In [ ]:
if pd.Series([False, True, False]):
    print("I was true")